footer{ 
    padding: 80px; 
    margin-top: 50px; 
    background-color: red; 
    width: 100vw;
    height: auto;
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h3{
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
        }
        p{
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
        }
        .redes{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;
            li{
                margin: 0 10px;
            }
        }
    }
    .footer-bottom{
        background-color: rgb(203, 96, 96);
        width: 100vw;
        padding: 0 20px;
        text-align: center;
        p{
            font-size: 14px;
            text-transform: capitalize;
            color: black;
            opacity: .4;
            font-weight: bolder;
        }
    }
} 
