p{ 
    font-style: 'Oswald', sans-serif; 
    font-weight: lighter; 
    font-size: 20px; 
    line-height: 30px; 
    word-spacing: 5px; 
    text-align: left; 
    padding: 10px; 
    margin: 10px; 
    color: black;
    overflow: hidden;
} 