@mixin titulos ($color){
    padding: 20px; 
    font-weight: bolder;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{ 
    @include titulos (black); 
    font-size: 50px;
} 

h2{ 
    @include titulos (red);
    letter-spacing: 5px; 
    font-size: 40px;
    margin-left: 10px;
} 

h3{ 
    @include titulos (red);
    margin-top: 25px;
    padding-left: 15px; 
    text-decoration-line: underline; 
    font-size:25px; 
} 
